@model IEnumerable<Movies.ItAcademy.MVC.Models.DTO.MovieDTO>

@{
    ViewData["Title"] = "GetMovieAll";
}

<h1>Movie</h1>

<table class="table">
    <thead>
        <tr>
             <th>
              <h6>სურათი</h6>
            </th>
            <th>
                <h6>ფილმის სახელი</h6>
            </th>
            <th>
                 <h6>ჟანრი</h6>
            </th>
            
            <th>
                 <h6>მოკლე აღწერა</h6>
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                   
                 <img src="@item.Image" alt="sample" width="150" />
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Story)
            </td>
           
            <td>               
                @Html.ActionLink("Details", "Details", new {  Id=item.Id  })              
            </td>
        </tr>
}
    </tbody>
</table>
